body{
  background-color: #E8E0D3;
}
aside {
  position: fixed;
  background-color: #222;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 100%;
  overflow: none;
  display: block;
  text-align: center;
  padding: 0;
}
nav {
	color: #fff;
	width: 100%;
	height: 56px;
	line-height: 56px;
  }
  aside a {
	display: block;
	padding: 15px 0;
	color: white;
	transition: all 0.36s;
	text-transform: uppercase;
	font-size: 0.75em;
	letter-spacing: 2px;
  }
  a {
	text-decoration: none;
  }
  aside a:hover {
	color: orange;
  }
  nav img {
    width: 100%;
  }
  /* header */
  header {
    text-align: center;
    height:120px;
  
    }
    header h1 {
    font-weight: bold;
    font-size: 4em;
    letter-spacing: 2px;
    }
    header h5 {
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 4px;
    color: black;
    }
    header img {
    width: 580px;
    border-radius: 300px;
    }
    /* About section */
    .about {
      margin-left: 150px;
    }

    /* Job section */
    .job {
      float: right;
    }
    /* education section */
    .education {
      float: left;
      clear: both;
    }
    /* the skills section */
    .skills {
      clear: both;
    }
    span {
      font-weight: bold;
    }
    .push {
      margin-left: 80px;
    }
    #hobby li {
      list-style-type: disc;
    }
    .project {
      margin-left: 150px;
    }
    
    h5:hover {
      color:orange;
      cursor: pointer;
    }